<div>
    <div>
        <section>
            <h1>{{name}}</h1>
            <hr>
            <p> <em>{{birthdate}} - {{deathdate}}</em> </p>
            <p> <b>Birth place:</b> {{birthplace}} </p>
            <p> <b>Death place:</b> {{deathplace}} </p>
            <p> <b>Nationality:</b> {{nationality}} </p>
            <p> <b>Occupation:</b> {{occupation}} </p>
        </section>
        <section>
            <div>
                <p>
                    <b>Known for: </b>
                </p>
                <hr>
                {{#each known_for}}
                <li> {{this}} </li>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Education: </b>
                </p>
                <hr>
                {{#each education}}
                <ul>
                    <li> Degree: {{degree}} </li>
                    <li> Field: {{field}} </li>
                    <li> Institution: {{institution}} </li>
                    <li> Year: <time>{{year}}</time> </li>
                </ul>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Notable publications: </b>
                </p>
                <hr>
                {{#each notable_publications}}
                <ul>
                    <li> Title: <q>{{title}}</q> </li>
                    <li> Year: <time>{{year}}</time> </li>
                    <li> Publisher: <cite>{{publisher}}</cite> </li>
                </ul>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Partners: </b>
                </p>
                <hr>
                {{#each partners}}
                <ul>
                    <li> Name: <q>{{name}}</q> </li>
                    <li> Relationship: {{relationship}} </li>
                    <li> Year: <time>{{years}}</time> </li>
                </ul>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Awards: </b>
                </p>
                <hr>
                {{#each awards}}
                <ul>
                    <li> Title: <q>{{title}}</q> </li>
                    <li> Year: <time>{{year}}</time> </li>
                    <li> Description: <q>{{description}}</q> </li>
                </ul>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Influences: </b>
                </p>
                <hr>
                {{#each influences}}
                <li> {{this}} </li>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Influenced: </b>
                </p>
                <hr>
                {{#each influenced}}
                <li> {{this}} </li>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Quotes: </b>
                </p>
                <hr>
                {{#each quotes}}
                <li> <q> {{this}} </q> </li>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Major discoveries: </b>
                </p>
                <hr>
                {{#each major_discoveries}}
                <ul>
                    <li> Title: <q>{{title}}</q> </li>
                    <li> Year: <time>{{year}}</time> </li>
                    <li> Description: <q>{{description}}</q> </li>
                </ul>
                {{/each}}
            </div>
        </section>
        <section>
            <div>
                <p>
                    <b>Contributions: </b>
                </p>
                <hr>
                {{#with contributions}}
                <ul>
                    <li> Title: <q>{{title}}</q> </li>
                    <li> Year: <time>{{year}}</time> </li>
                    <li> Description: <q>{{description}}</q> </li>
                    <li> Field: {{field}} </li>
                </ul>
                {{/with}}
            </div>
        </section>
        </section>
    </div>
</div>