<main class="g-3">

    <div class="row mx-4">

        <nav class="col-12 px-0 pt-4">
            <div class="card py-2 me-3">
                {{#with navigation}}
                {{> links}}
                {{/with}}
            </div>
        </nav>

        <section class="col-8 mt-3">
            <div class="row">

                {{#with formBlock}}
                <h1 class="ps-0 mt-5 mb-4">{{header}}</h1>

                {{#with rating}}
                <div class="card-body mb-3">
                    <h3>{{title}}:
                        {{value}}</h3>
                </div>
                {{/with}}

                {{#with actionBlock}}
                <div class="card-body">

                    <div class="nav nav-tabs mb-5">
                        {{#each tabs}}
                        <div class="nav-item mx-1 px-1">
                            <a class="nav-link {{#if isActive}} active {{/if}}" href="#"> {{text}}</a>
                        </div>
                        {{/each}}
                    </div>

                    <hr class="my-5">

                    <div class="card p-3">
                        {{#with report}}
                        <h6 class="mb-3">{{title}}</h6>
                        {{#with button}}
                        <div>
                            <button class="btn btn-success" href="{{link}}">{{text}}</button>
                        </div>
                        {{/with}}
                        {{/with}}
                    </div>

                </div>
                {{/with}}

                <hr class="my-5">

                <div class="col-12">
                    {{#with feedbackBlock}}
                    <div class="card-body">
                        <h2 class="my-5">{{title}}</h2>
                        <div class="my-2">
                            {{#each buttons}}
                            {{#if isWarning}}
                            <button class="btn btn-warning" href="{{link}}">{{text}}</button>
                            {{else isSuccess}}
                            <button class="btn btn-success" href="{{link}}">{{text}}</button>
                            {{else isDanger}}
                            <button class="btn btn-danger" href="{{link}}">{{text}}</button>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                    {{/with}}
                </div>

                {{/with}}

            </div>
        </section>

        <aside class="col-4 mt-4">
            <div class="me-2">
                {{#with formBlock}}
                {{#with goodsInfo}}

                <div class="card">
                    <div class="col-6">
                        <img class="card-img-top m-3" src="{{photo}}">
                        <h5 class="ms-3">{{name}}</h5>
                    </div>
                </div>

                <div class="card mt-3 p-3">
                    <big>
                        <b class="mt-2">
                            {{price}}
                        </b>
                    </big>
                    {{#if inMarket}} Є в наявності {{/if}}
                    <div>
                        {{#each buttons}}
                        {{#if isPrimary}}
                        <div class="my-3"><button class="btn btn-primary" href="{{link}}">{{text}}</button></div>
                        {{else isSecondary}}
                        <div><button class="btn btn-secondary" href="{{link}}">{{text}}</button></div>
                        {{/if}}
                        {{/each}}
                    </div>
                </div>

                <div class="card mt-3">
                    <div class="card-body">
                        {{#with seller}}
                        {{title}}:
                        <b>{{value}}</b>
                        {{/with}}
                    </div>
                </div>

                {{/with}}
                {{/with}}
            </div>
        </aside>

        {{> reviewItem}}

        {{> bottom}}

        <hr class="my-5">

        {{> footer02}}

    </div>



</main>