<div>
    <section class="m-3">
        <div class="card">
            {{#with navigation}}
            <div class="nav">
                {{#each links}}
                <div class="nav-item">
                    <a href="{{href}}" {{#if isActive}} class="nav-link active" {{else}} class="nav-link disabled"
                        {{/if}}> {{text}}</a>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </div>
    </section>
    <section class="m-3">
        {{#with newsBlock}}
        <div class="display-6 text-center">{{title}}</div>
        <div class="row">
            {{#each cards}}
            <div class="col-3 g-1">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        {{#if isTop}}
                        <div class="badge text-bg-danger rounded-pill">Top</div>
                        {{/if}}
                        {{#if isNew}}
                        <div class="badge text-bg-success rounded-pill">New</div>
                        {{/if}}
                        {{title}}
                    </div>
                    <div class="card-body">
                        <q>{{description}}</q>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="mx-1 my-5">
    <section>
        {{#with goodsBlock}}
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item mx-1 px-1">
                <a class="nav-link {{#if isActive}} active {{else}} {{#unless isDisabled}} disabled {{/unless}} {{/if}} href="
                    #"> {{text}}</a>
            </div>
            {{/each}}
        </div>
        <div class="row">
            {{#each cards}}
            <div class="col-4 g-1">
                <div class="card">
                    <img class="card-img-top" src="{{image}}">
                    <div class="card-body m-0 p-2">
                        <h6 class="card-title"> {{title}}
                            {{#if isHot}}
                            <div class="badge text-bg-warning rounded-pill">Hot</div>
                            {{/if}}
                            {{#if isNew}}
                            <div class="badge text-bg-info rounded-pill">New</div>
                            {{/if}}
                        </h6>
                        <q>{{description}}</q>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/with}}
    </section>
    <hr class="mx-1 my-5">
    <section>
        <div class="row">
            <div class="col-12">
                {{#with subscribe}}
                <div class="card text-bg-dark">
                    <h2>{{header}}</h2>
                    <p class="text-capitalize">{{description}}</p>
                    {{#each buttons}}
                    <a href="{{link}}" class="btn btn-primary m-2 col-2">{{text}}</a>
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </div>
    </section>
    <hr class="mx-1 my-5">
    <section>
        <div class="row">
            <div class="col-12 text-center">
                {{#with service}}
                <div class="card text-bg-success">
                    <div class="card-body">
                        <h2>{{title}}</h2>
                        <p class="text-capitalize">{{description}}</p>
                        {{#each buttons}}
                        <a href="{{link}}" class="btn btn-primary m-2 col-2 ">{{text}}</a>
                        {{/each}}
                    </div>
                </div>
                {{/with}}
            </div>
        </div>
    </section>
    <hr class="mx-1 my-5">
    <section>
        <div class="row mx-3 g-5">
            {{#each footer}}
            <div class="nav flex-column col-2">
                {{#each this}}
                <div class="nav-item">
                    <a class="nav-link px-0 {{#if @last}} disabled {{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </section>
</div>